.navContainer {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 1.2rem 0rem;
    margin-right: 2rem;
    position: fixed;
    top: 0%;
    width: 100%;
    background: rgba(245, 255, 120, .7);
}

.navItem {
    margin: 0rem 1rem;
    cursor: pointer;
}

ul > li > span:hover {
    border-bottom: 1px solid black;
}